@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); 
  
  *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* background: black; */
  color: white;

}

header{
  background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

/* navbar section styling */
nav{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  
}

.logo h2{
  color: #E6533C;
  font-size: 36px;
}

.navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 70px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 0 20px 0 0;
}

.navbar li{
  list-style: none;
}

.menu{
  display: none;
}

.home{
  background: #E6533C;
  border-radius: 30px;
  padding: 10px 30px;
  margin: 4px;
  
}

/* navbar section styling done */






/* small device responsive section */


@media screen and (max-width: 576px) {
  nav{
    
    width: 100%;
    padding: 20px 30px;
  }

  .navbar{
    display: none;
  }

  .menu{
    display: block;
  }
  
}